@model IEnumerable<MentalHealthApp.ViewModels.UserViewModel>
@{
    ViewData["Title"] = "DependentList";
}
<h2>Dependent List</h2>
<p>
    <a asp-action="Create">Add User</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.RepeatPassword)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountType)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.avatar)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>

                @if (item.AccountType == -1)
                {
                    <td>Unassigned user type</td>
                }
                @if (item.AccountType == 0)
                {
                    <td>Child</td>
                }
                @if (item.AccountType == 1)
                {
                    <td>Parent</td>
                }
                @if (item.AccountType == 2)
                {
                    <td>Teacher</td>
                }

                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ })
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>
